
body {
font-family: Verdana, Arial, sans-serif;
}

.sectionheading {
color: #ff0000;
}

#pageheading{
font-style: italic; 
}

#controls {
width:40%;
padding: 1em;
}

input{margin-bottom: 0.5em;}

div label.formlabel {
text-align:right;
width: 35%;
float: left;
font-size: 0.75em;
font-weight: bold;
margin-bottom:0.5em;
}

div label.radiolabel {
font-size: 0.75em;
margin-left: 2em;
}





