
body {
font-family: Verdana, Arial, sans-serif;
}

.sectionheading {
color: #ff0000;
}

#pageheading{
font-style: italic; 
}

.error{
  display:none;
  color:red;
  padding-left: 1em;
}

#controls {
width:60%;
padding: 1em;
}
#messegeBoard {
width:60%;
padding: 1em;
display: none;
}
.question{
	display:inline-block;
	padding-right: 70px;
	text-align: right;
	width:180px;
}
.choice{
	display:inline-block;
	text-align: left;
	
}
