body {
font-family: Verdana, Arial, sans-serif;
}

.sectionheading {
color: #ff0000;
}

#pageheading{
font-style: italic; 
color: red;
}
#controls {
width:90%;
padding: 1em;
align-self: center;
background-color: #FFF09F;
}
.question{
	margin-top: 10px;
	display:inline-block;
	padding:4px;
	padding-right: 70px;
	text-align: right;
	width:180px;
}
.txtlabel {
float:left;
width:10%;
text-align:right;
}

fieldset{
padding: 1em;
}

label.error {
color: #ff0000;
font-size:0.75em;
font-style:italic;
margin-left: 1em;
}
.tooltip {
		position:absolute;
	left:220px; 
	top:210px;
	display:none;
	width:125px;
	border:1px solid red;
	background:#FFD700 top left no-repeat;
	color: balck;
	padding: 5px 3px 5px 5px;
	font:0.65em Arial, Helvetica, sans-serif;
}
::-moz-placeholder { 
font-style: italic;
}
